<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="design.css">
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MoveMate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tasks">Übersicht Aufgaben</a>
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calendar_view">Kalenderansicht </a>
          </li>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Vorlagen für Dokumente <span class="sr-only">Vorlagen für Dokumente</span></a>
        </li>
      </li>
          </ul>
        </div>
      </nav>  

      
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Downloads</h1>
        <p class="lead">Lade Briefvorlagen herunter, um den Umzugsprozess zu vereinfachen!</p>
        <p class="lead">Die Checkliste kannst Du auch alternativ auf Papier ausdrucken.</p>
      </div>
      
      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Vorlage Kündigungsbrief</h4>
            </div>
            <div class="card-body">
              <a href="/documents/Kuendigungsschreiben.docx" download>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Hier herunterladen</button>
            </a>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Checkliste schriftlich</h4>
            </div>
            <div class="card-body">
              <a href="/documents/Checkliste_schriftlich.pdf" download>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Hier herunterladen</button>
              </a>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Vorlage Nachmieterbrief</h4>
            </div>
            <div class="card-body">
              <a href="/documents/Brief_Nachmieter.docx" download>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Hier herunterladen</button>
              </a>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Vorlage Adressänderung</h4>
            </div>
            <div class="card-body">
              <a href="/docs/Brief_Adressaenderung.docx" download>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Hier herunterladen</button>
              </a>
            </div>
          </div>
        </div>
      
</body>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary"> A Harun Bajric Production</span>
    </div>

  </footer>
</div>
</html>